.projectCard {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  border-radius: 6px;
  margin: 10px;
  padding: 15px;
  width: 35%;
  img {
    border-radius: 8px;
    width: 100%;
  }
}

.techs {
  display: flex;
  flex-wrap: wrap;
}
