.projectCard {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  gap: 5px;
  border-radius: 6px;
  padding: 1.5%;
  width: 75%;
  @media (max-width: 768px) {
    width: 100%;
    padding: 4%;
  }
}

.title {
  font-size: 1.2rem;
}

.image {
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.description {
  font-size: 0.9rem;
  margin: 5px 0 3px;
}

.links {
  display: flex;
  gap: 10px;
  a {
    text-decoration: none;
  }
  span {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: gray;
    border-radius: 2px;
    color: var(--text-color);
    padding: 2px 4px;
  }
}

.techsTitle {
  font-size: 1.2rem;
  margin-top: 10px;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
