.header {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  position: sticky;
  padding: 0 3%;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  ul {
    display: flex;
    flex: 1;
    gap: 5%;
    list-style-type: none;
    padding: 0;
    li {
      cursor: pointer;
      padding: 5px;
      &:hover {
        color: var(--primary-color);
        text-shadow: var(--primary-color) 0 0 5px;
      }
    }
  }
}

.header.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.header.visible {
  transform: translateY(0);
  opacity: 1;
}
