.contact-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}