.contact-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
}

.side-angle {
  height: 500px;
  width: 180px;
  padding: 0 100px;
}

a {
  color: white;
}