.header {
  background: linear-gradient(to top, #000000, rgb(0, 0, 103));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header > li {
  padding: 10px;
  list-style-type: none;
}

.header > li > a {
  text-decoration: none;
}