img {
  width: 300px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  max-width: 300px;
  font-size: 1.2rem;
  text-align: center;
}