@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slider {
  display: flex;
  overflow: hidden;
  width: fit-content;
  white-space: nowrap;
  position: relative;
  gap: 1rem;
  animation: scroll var(--duration, 10s) linear infinite;
}

.slide {
  flex: 0 0 auto;
  min-width: 100px;
}
